<h1>Dashboard</h1>
<section class="team-container">
  {{#each filteredTeam }}
    <article class="team-container__card">
      <button class="team-container__notification" type="button" name="button"><img src="../img/bell.svg" alt=""></button>
      <img class="team-container__logo" src="{{this.teamLogo}}" alt="">
      <h2>{{this.name}}</h2>
      <a class="button" type="button" name="button">Bekijk</a>
    </article>
  {{/each}}
</section>
